*{
	margin: 0;
	padding: 0;
}



h1{
	font-size: 3em;
	text-align: center;
}

h2{
	font-size: 2em;
	text-align: center;
}

p{
	font-size: 1em;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}


.first-section{
	margin-bottom: 100px;
}

.second-section{
	margin-bottom: 100px;
	background: lightgray;
}

.last-section{
	background: black;
	color: whitesmoke;
}